<section data-ng-controller="HomeController">
	<div class="row">
		<div class="col-md-3">
			<div class="well sidebar">
				<form ng-submit="searchSongs()">
					<label for="search-box"> Search Songs:  </label>
					<input type="text" id="search-box" ng-model="searchQuery"/>
				</form>
				<div class="sidebar-items">
					<div ng-repeat="sidebarItem in sidebarItems">
						<button class="btn btn-raised btn-primary sidebar-item {{sidebarItem.class}}">{{sidebarItem.title}}</button>
					</div>
				</div>
			</div>

		</div>
		<div class="col-md-9 right-side">
			<input id="mapSearchBar" ng-model="searchText" type="text" />
			<div id="map-canvas" class="well map">
				
			</div>
			<div id='putTheWidgetHere'></div>
		</div>
</section>
