<section data-ng-controller="HomeController">
	<div class="row">
		<div class="col-md-3">
			<div class="well sidebar">
				<h4 class="place-title">{{place.title}}</h4>
				<form ng-submit="searchSongs()">
					<label for="search-box"> Drop a Tune:  </label>
					<input type="text" id="search-box" ng-model="searchQuery"/>
				</form>
				<div class="sidebar-items">
					<div ng-repeat="sidebarItem in sidebarItems">
						<button ng-click="sidebarItemAction(sidebarItem, $index)"class="sidebar-item btn btn-raised btn-primary  {{sidebarItem.class}}">{{sidebarItem.title}}</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-9 right-side">
			<input id="mapSearchBar" ng-model="searchText" type="text" />
			<div id="map-canvas" class="well map">
			</div>
			<div id='putTheWidgetHere'></div>
		</div>
</section>
