.right-side {
	text-align: center;
}

.well.map {
	margin-top: calc(60px + 2.5vh);
	margin-bottom: 2.5vh;
	min-height: calc(80vh - 60px);

}

.well.sidebar {
	margin-top: calc(60px + 2.5vh);
	margin-bottom: 2.5vh;
	height: calc(95vh - 60px);
	text-align: center;
}

.sidebar-hider {
	overflow: hidden;
}

.place-title {
	margin-bottom: 5%;
}

.sidebar-items {
	max-height: 80%;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none;
}

.btn.btn-primary.sidebar-item {
	width: 90%;
	height: auto;
	margin-top: 2.5px;
	margin-bottom:2.5px;
	white-space: normal;
	background-color: #46AAC7;
}
.container-fluid.ng-scope {
	background-color: #9243CF;
}

#search-box {
	margin-bottom: 5%;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

.iframe {
	float: right;
}


#mapSearchBar {
        background-color: #fff;
        font-family: Roboto;
        font-size: 25px;
        font-weight: 300;
        margin-left: 12px;
        margin-top: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }
