.right-side {
	text-align: center;
}

.well.map {
	margin-top: calc(60px + 2.5vh);
	margin-bottom: 2.5vh;
	min-height: calc(80vh - 60px);

}

.well.sidebar {
	margin-top: calc(60px + 2.5vh);
	margin-bottom: 2.5vh;
	height: calc(95vh - 60px);
	text-align: center;
}

.sidebar-hider {
	overflow: hidden;
}
.sidebar-items {
	margin-top: 5vh;
	max-height: 70vh;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

.iframe {
	float: right;
}
